 /*-----------------------Index----------------------- */
body {
    background: linear-gradient(rgba(4,5,12,0.40)),
    url("./imgs/mty.jpg") no-repeat center center fixed;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topNav {

    background: linear-gradient(rgba(4,5,12,0.70));
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#topNav h1 {
    color: #09e2178e;
}

#topNav ul {
    list-style-type: none;
}
  
#topNav ul li {
    display: inline;
    margin-right: 10px;
}
  
#topNav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#topNav a:hover {
    color: #09e2178e;
}

button {
    padding: 7px 15px;
    background-color: #09e2178e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

button:hover {
    background-color: rgb(98, 98, 98);
    color: #09e2178e;
}

input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }


 main {
    padding: 20px;
    justify-content: space-between;
 }

 main h1 {
    color: #079c11;
    text-shadow: 
    -1px -1px 0 black,
    -1px 1px 0 black;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 70px;
 }

 main p {
    color: #ffffff;
    margin-top: 50px;
    margin-left: 110px;
    font-size: 20px;
 }

 #sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#sidebar svg {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    color: #09e2178e;
}

#result {
    width: 320px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 100px;
    margin-right: 50px;
}


#innerResultDiv {
    margin-bottom: 100px;
    margin-top: -4.5px;
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(255, 255, 255, 0.8));
}

#innerResultDiv:hover {
    background: linear-gradient(rgba(222, 222, 222, 0.8));
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animar {
    animation: fade 0.95s ease-in-out;
}

#resultImg {
    width: 320px;
    height: 150px;
    margin: -5px;
}

#resultTitle {
    color: #079c11;
}

#aCard {
    text-decoration: none;
}

#resultDescription {
    color: black;
}

 /*----------------------About Us------------------------ */
 #topNav2 {
    background: linear-gradient(rgba(4,5,12,0.70));
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#topNav2 h1 {
    color: #09e2178e;
}

#topNav2 ul {
    list-style-type: none;
    margin-right: 363.5px;
    margin-bottom: 1px;
}
  
#topNav2 ul li {
    display: inline;
    margin-right: 10px;
}
  
#topNav2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#topNav2 a:hover {
    color: #09e2178e;
}

#aboutDiv {
    background-color: #0000005d;
    align-items: center;
    width: 1000px;
    margin-left: 450px;
    margin-top: 20px;
}

#aboutDiv ul {
    list-style: none;
}

#aboutMain p {
    font-size: 30px;
    padding: 20px;
    text-align: justify;
    margin-left: -5px;
}

#aboutMain h3 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    margin-bottom: -50px;
}

#aboutMain ul li b {
    font-size: 30px;
    padding: 20px;
}

#aboutMain ul li p {
    font-size: 25px;
    padding: 20px;
}

#outterOurDiv {
    display: grid;
    margin-left: 250px;
}

#outterOurDiv p {
    text-align: center;
}

#ourDiv button {
    margin-left: 200px;
}

#aboutMain h1 {
    margin-left: 300px;
}

#sidebar2 {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: -1914px;
    
}

#sidebar2 svg {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    color: #09e2178e;
}

#ourDiv {
    background-color: #0000005d;
    align-items: center;
    width: 500px;
    margin-left: 450px;
    margin-top: 20px;
}

#ourButton {
    align-self: center;
}

/*----------------------Contact Us------------------------ */

#contactMain div {
    background-color: #0000005d;
    align-items: center;
    width: 800px;
    margin-left: 600px;
    margin-top: 20px;
}

#ourDiv div{
    background-color: #0000005d;
    align-items: center;
    width: 300px;
    margin-left: 450px;
    margin-top: 20px;
}

#sidebar3 {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
    margin-top: -427px;
    
}

#sidebar3 svg {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-left: 15px;
    color: #09e2178e;
}

#contactMain textarea {
    background-color: #ffffff5d;
    width: 700px;
    margin-left: 50px;
    padding: 10px;
    font-size: 20px;
}

#contactMain h3 {
    padding: 20px;
}

#contactMain button {
    margin: 10px;
    margin-left: 375px;
}

#topNav3 {
    background: linear-gradient(rgba(4,5,12,0.70));
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#topNav3 h1 {
    color: #09e2178e;
}

#topNav3 ul {
    list-style-type: none;
    margin-right: 379.5px;
    margin-bottom: 1px;
}
  
#topNav3 ul li {
    display: inline;
    margin-right: 10px;
}
  
#topNav3 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

#topNav3 a:hover {
    color: #09e2178e;
}
